html{
    font-family: "Gloria Hallelujah", cursive;
}

header .tlogo{
    width: 150px;
    padding: 0;
}

header nav ul li a{
    text-decoration: none;
    color:black;
}
header nav ul li {
    margin-left: 10px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form form{
    display: flex;
    flex-direction: column;
}

.form form #Name{
    max-width: 200px;
}
.form form #Email{
    max-width: 200px;
}
.form form #comments{
    height: 100px;
}

.form form button{
    width: 200px;
}


.hero .poster1{
    width: 50%;
}
.hero .poster2{
    width: 50%;
}

.hero div{
    display: flex;
}

.foot{
    text-align: right;
}

@media (max-width: 768px) {
    html{
        background-color: pink;
    }
    
}